
<div class="row">
    <!-- form input mask -->
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">
                <br>
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">نام محصول
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="first-name" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">قیمت محصول
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="first-name" type="number" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-md-3 col-sm-3 col-xs-12"  for="first-name">موجودی اولیه
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="first-name" required="required" type="number" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">دسته بندی
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="first-name" required="required" class="form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>
                    </div>

                        <div class="form-group">
                        <p> فایل تصویر را به جعبه زیر برای بارگیری  بکشید یا برای انتخاب فایل  روی آن کلیک کنید.
                            </p>
                        <div action="form_upload.html"
                             class="dropzone"
                             id="my-awesome-dropzone">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </div></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="add_field_button btn btn-primary">افزودن ردیف</button>
                                <button type="submit" class="btn btn-primary">انصراف</button>
                                <button type="submit" class="btn btn-success">ثبت</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /form input mask -->

    <!-- form color picker -->
    <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> توضیحات محصول
                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="alerts"></div>
                    <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" id="textarea-font" title="فونت"><i class="fa fa-font"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="اندازه فونت"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-edit="fontSize 5">
                                        <p style="font-size:17px">بزرگ</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 3">
                                        <p style="font-size:14px">معمولی</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 1">
                                        <p style="font-size:11px">کوچک</p>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="bold" title="درشت (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn" data-edit="italic" title="ایتالیک (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                            <a class="btn" data-edit="strikethrough" title="خط خورده"><i class="fa fa-strikethrough"></i></a>
                            <a class="btn" data-edit="underline" title="زیرخط (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="insertunorderedlist" title="لیست دایره ای"><i class="fa fa-list-ul"></i></a>
                            <a class="btn" data-edit="insertorderedlist" title="لیست عددی"><i class="fa fa-list-ol"></i></a>
                            <a class="btn" data-edit="outdent" title="کاهش دندانه (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                            <a class="btn" data-edit="indent" title="دنداره (Tab)"><i class="fa fa-indent"></i></a>
                        </div>

                        <div class="btn-group">

                            <a class="btn" data-edit="justifyright" title="تراز راست (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                            <a class="btn" data-edit="justifycenter" title="وسط (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                            <a class="btn" data-edit="justifyleft" title="تراز چپ (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                            <a class="btn" data-edit="justifyfull" title="جاستیفای (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="ابرلینک"><i class="fa fa-link"></i></a>
                            <div class="dropdown-menu input-append">
                                <input class="span2" placeholder="URL" data-edit="createLink" type="text">
                                <button class="btn" type="button">افزودن</button>
                            </div>
                            <a class="btn" data-edit="unlink" title="حذف ابر لینک"><i class="fa fa-cut"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" title="افزودن تصویر (یا فقط بکشید و رها کنید)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                            <input data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" type="file">
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="undo" title="باطل کردن (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                            <a class="btn" data-edit="redo" title="بازگردانی (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>

                    <div id="editor" class="editor-wrapper placeholderText" contenteditable="true"></div>

                    <textarea name="descr" id="descr" style="display:none;"></textarea>

                    <br>

                    <div class="ln_solid"></div>


                </div>
            </div>
            </div>

</div>
<!--

<div class="col-md-12 col-xs-12">
    <div class="col-md-6 col-xs-12">

    <div class="x_panel">    <br>

</div>


</div>

</div>
-->