<% include ./partials/start.html%>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">

            <ul class="nav navbar-right panel_toolbox">
                <a href="factor_add" type="button" class="btn btn-success"><i class="fa fa-plus"></i>  ثبت فاکتور  </a>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th> نام و نام خانوادگی</th>
                    <th>شماره همراه</th>
                    <th>تاریخ صدور</th>
                    <th>مبلغ فاکتور</th>
                    <th>تعداد اقلام</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>مجید صدرایی</td>
                    <td>09159090644</td>
                    <td>1397/02/27</td>
                    <td>3500000 ريال</td>
                    <td>10</td>
                    <td><button type="button" class="btn btn-warning">در انتظار پرداخت</button></td>
                    <td><button type="button" class="btn btn-danger">لغو</button><button type="button" class="btn btn-success"> ویرایش</button><a data-target=".bs-example-modal-lg" data-toggle="modal" type="button" class="btn btn-success"> پرداخت</a></td>
                </tr>
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form id="demo-form2" data-parsley-validate="" novalidate="">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">عنوان مدال</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>آیا مطمئن از انجام پرداخت هستید ؟</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">توضیحات<span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="oneprice" class="oneprice date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"  class="btn btn-default" data-dismiss="modal">بستن</button>
                                    <button type="submit" class="btn btn-primary">پرداخت هزینه</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <tr>
                    <th scope="row">3</th>
                    <td>مجید صدرایی</td>
                    <td>09159090644</td>
                    <td>1397/02/27</td>
                    <td>3500000 ريال</td>
                    <td>1</td>

                    <td><button type="button" class="btn btn-danger">لغو شده</button></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>مجید صدرایی</td>
                    <td>09159090644</td>
                    <td>1397/02/27</td>
                    <td>3500000 ريال</td>
                    <td>3</td>
                    <td><button type="button" class="btn btn-success">پرداخت شده</button></td>
                    <td><button type="button" class="btn btn-success"> مشاهده</button></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>
</div>
</main>

</div>
<% include ./partials/footer.html%>

<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>

<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../js/moment-jalaali.js"></script>

<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../vendors/jszip/dist/jszip.min.js"></script>
<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="../js/custom.js"></script>
<script src="../js/persianumber.js"></script>
</div>
</div>
</body>
</html>

