<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel ui-ribbon-container">
            <div class="ui-ribbon-wrapper">
                <div class="ui-ribbon deactiverebbon">
                    پرداخت نشده
                </div>
            </div>
            <div class="x_content ">

                <section class="content invoice ">
                    <!-- title row -->

                    <div class="row">
                        <div class="col-xs-12 invoice-header">
                            <h1>
                                <i class="fa fa-globe"></i> صورت‌حساب.
                            </h1>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-xs-6 col-sm-4 invoice-col">
                            از طرف
                            <address>
                                <strong>شرکت تعاونی آسانسور آستان رضا.</strong>
                                <br>خیابان سید رضی
                                <br>مشهد, پلاک 94107
                                <br>تلفن: 09216351266
                                <br>ایمیل: me@astanlift.com
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6 col-sm-4 invoice-col">
                            به
                            <address>
                                <strong>مرتضی کریمی</strong>
                                <br>خیابان آزادی
                                <br>مشهد, پلاک 94107
                                <br>تلفن: 09216351266
                                <br>ایمیل: me@morteza-karimi.ir
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-12 col-sm-4 invoice-col">
                            <span>صورت‌حساب <b dir="ltr">#007612</b></span>
                            <br>
                            <span>تاریخ <b dir="ltr">1396/06/14</b></span>
                            <br>
                            <b>شناسه سفارش:</b> 4F3S8J
                            <br>
                            <b>پرداخت هزینه:</b> -
                            <br>
                            <b>شماره قرارداد:</b> 968-34567
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Table row -->
                    <div class="row">
                        <div class="col-xs-12 table">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>محصول</th>
                                    <th style="width: 59%">توضیحات</th>
                                    <th>قیمت واحد</th>
                                    <th>تعداد</th>
                                    <th>قیمت کل</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>موتور گیربکس</td>
                                    <td>با توجه به اتمام گارانتی و درخواست مشتری موتور با مشابه کارکرده تعویض گردید.
                                    </td>
                                    <td class="money">3500000</td>
                                    <td>1</td>
                                    <td class="money">3500000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>موتور گیربکس</td>
                                    <td>با توجه به اتمام گارانتی و درخواست مشتری موتور با مشابه کارکرده تعویض گردید.
                                    </td>
                                    <td class="money"> 3500000</td>
                                    <td>1</td>
                                    <td class="money">3500000</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <!-- accepted payments column -->
                        <div class="col-xs-4">
                            <p class="lead">اطلاعات پرداخت</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:50%">مجموع:</th>
                                        <td style="width:50%; text-align: left" class="money">580000</td>
                                    </tr>
                                    <tr>
                                        <th>مالیات (9%)</th>
                                        <td style="width:50%; text-align: left" class="money">5300</td>
                                    </tr>
                                    <tr>
                                        <th>هزینه ارسال:</th>
                                        <td style="width:50%; text-align: left" class="money">20000</td>
                                    </tr>
                                    <tr>
                                        <th>قابل پرداخت:</th>
                                        <td style="width:50%; text-align: left" class="money">45000000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- this row will not appear when printing -->
                    <div class="row no-print hidden-print">
                        <div class="col-xs-12">
                            <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> چاپ
                            </button>
                            <button class="btn btn-success pull-left"><i class="fa fa-credit-card"></i>
                                پرداخت
                            </button>
                            <!--<button class="btn btn-primary pull-left" style="margin-right: 5px;"><i class="fa fa-download"></i> ایجاد PDF
                            </button>-->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</div>
</div>