<% include ../partials/start.html%>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <%if (typeof message  !== 'undefined' ){%>
        <div class="alert <%=message.kind%> fade in">
            <strong>  <%=message.content%></strong>
        </div>
        <%}%>
<div class="x_content">
    <br>
    <form method="post" id="form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">نوع درخواست
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="kind" name="kind" required="required" class="form-control col-md-7 col-xs-12" type="text">
                    <option <% if (typeof sherkat !== 'undefined'){ %>  <% if ( sherkat.kind === 'فروش آسانسور' ) { %> selected <% }} %> >فروش آسانسور</option>
                    <option <% if (typeof sherkat !== 'undefined'){ %>  <% if ( sherkat.kind === 'عقد قرارداد سرویس ماهیانه' ) { %> selected <% }} %> >عقد قرارداد سرویس ماهیانه</option>
                    <option <% if (typeof sherkat !== 'undefined'){ %>  <% if ( sherkat.kind === 'درخواست تعمیر' ) { %> selected <% }} %>>درخواست تعمیر</option>
                    <option <% if (typeof sherkat !== 'undefined'){ %>  <% if ( sherkat.kind === 'درخواست استاندارد' ) { %> selected <% }} %>>درخواست استاندارد</option>
                    <option <% if (typeof sherkat !== 'undefined'){ %>  <% if ( sherkat.kind === 'درخواست مشاوره و نظرات' ) { %> selected <% }} %>>درخواست مشاوره و نظرات</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">شماره همراه درخواست دهنده
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="phone" <% if (typeof sherkat !== 'undefined'){ %>   value=<%=sherkat.phone%> <% } %> name="phone" onblur="postMessage()" required="required" class="form-control col-md-7 col-xs-12" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="requester">نام و نام خانوادگی درخواست دهنده
                <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="requester"  name="requester" readonly="readonly" required="required" class="form-control col-md-7 col-xs-12" type="text">
                <input id="id" <% if (typeof sherkat !== 'undefined'){ %>   value=<%=sherkat._id%> <% } %> name="id" type="hidden" class="form-control col-md-7 col-xs-12" type="text">
            </div>
        </div>


        <div/>
        <div class="form-group">

                    <div class="x_title">
                        <h2>مشخصات محل</h2>

                        <div class="clearfix"></div>
                    </div>
            <input id="sabtkind" name="sabtkind" class="hidden"          <% if (typeof sherkat !== 'undefined'){%> value="update" <% } else {%> value="register" <%}%>
            >        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >انتخاب آدرس
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="adressesselect" onchange="addressChange()" required="required" class="form-control col-md-7 col-xs-12" type="text">
                                <option value="0">سایر</option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group col-md-3 col-sm-3 ">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">شهر <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="city" <% if (typeof sherkat !== 'undefined'){ %> readonly="readonly"  value=<%=sherkat.city%> <% } %> name="city" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                            </div>
                        </div>

                        <div class="form-group col-md-3 col-sm-3 ">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">منطقه <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="zone" name="zone" <% if (typeof sherkat !== 'undefined'){ %> readonly="readonly"  value=<%=sherkat.zone%> <% } %> class="oneprice date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6 ">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">جزئیات آدرس<span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="address" name="address" <% if (typeof sherkat !== 'undefined'){ %> readonly="readonly"   value=<%=sherkat.address%> <% } %> class="quantity date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                                <input  id="addressid" name="addressid" <% if (typeof sherkat !== 'undefined'){ %>   value="<%=sherkat.addressid%>" <% } else{%> value="0" <% }%>class="quantity date-picker form-control col-md-7 col-xs-12" required="required" type="hidden">
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 ">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">توضیحات <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="comment" name="comment"  class="date-picker form-control col-md-7 col-xs-12"  type="text"><% if (typeof sherkat !== 'undefined'){ %>   <%=sherkat.comment%> <% } %></textarea>
                            </div>
                        </div>

            <div class="form-group col-md-4 col-sm-4 ">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label">تخصیص تکنسین
                    <br>
                </label>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="radio">
                        <label>
                            <input onchange="onmanualteknesian()"   type="radio" class="flat"  name="teknesiankind" value="manual" id="teknesiankindauto"
                                   checked="checked">خودکار
                        </label>
                        <label>
                            <input onchange="onmanualteknesian()" type="radio" name="teknesiankind" value="auto" class="flat "  id="teknesiankindmanual"
                            <% if (typeof sherkat !== 'undefined'){ %>  <% if ( sherkat.teknesiankind === "auto" ) { %> checked="checked" <% }} %>> دستی
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4 ">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">تکنسین <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="teknesian" name="teknesian" readonly="readonly" class="quantity date-picker form-control col-md-7 col-xs-12" required="required" type="text"  <% if (typeof sherkat !== 'undefined'){ %>   value=<%=sherkat.teknesian%> <% } %>>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button type="submit" class="btn btn-success">ثبت</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</main>

</div>
<% include ../partials/footer.html%>

<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>

<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../vendors/jszip/dist/jszip.min.js"></script>
<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../js/socket.io.js"></script>

<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>
<script>
    <% if (typeof sherkat !== 'undefined'){ %>
    var sherkat = <%-JSON.stringify(sherkat)%>;
<%}%>
    <% if (typeof teknesian !== 'undefined'){ %>
    var teknesian = <%-JSON.stringify(teknesian)%>;
<%}%>
</script>
<!-- Custom Theme Scripts -->
<script src="../js/custom.min.js"></script>
<script src="../js/persianumber.js"></script>
<script src="../js/request_add.js"></script>
<script src="../js/jquery.easy-autocomplete.min.js"></script>

<!-- CSS file -->
<link rel="stylesheet" href="../css/easy-autocomplete.min.css">
<script>
    var option = [];
    console.log("tek:"+teknesian);

    for (w=0;w<teknesian.length;w++)
{
    console.log("tek:"+teknesian[w]);
    option.push(teknesian[w].lastname);
}
var options={
    data:option
};
console.log(options)
    $("#teknesian").easyAutocomplete(options);
</script>
</div>
</div>
</body>
</html>
