<div class="clearfix" xmlns="http://www.w3.org/1999/html"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <h2>
                            تعداد توقف : 5 توقف
                        </h2>
                        <h2>
                            نوع درب :‌اتومات
                        </h2>
                        <h2>
                            تعداد واحد مسکونی : ۱۲ واحد
                        </h2>
                        <h2>
                            کاربری ساختمان : مسکونی
                        </h2>
                        <h2>
                            قیمت تخمینی : <span class="money">30000</span>
                        </h2>
                        <h2>
                            آدرس : مشهد صیاد شیرازی ۲ سرو ۱۰ پلاک ۵۱
                        </h2>
                        <h2>
                            تکنسین : تخصیص نیافته
                        </h2>
                        <h2>
                            وضعیت :<span class="label label-warning"> در انتظار</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

      