<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">


        <div class="x_content">


            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">

                        <th class="">نوع درخواست</th>
                        <th class=" ">تاریخ درخواست</th>
                        <th class=" ">نام درخواست دهنده</th>
                        <th class=" ">شماره همراه</th>
                        <th class=" ">وضعیت</th>
                        <th class=" ">آدرس</th>
                        <th class=" ">اشتراک</th>
                        <th class="last">عملیات           </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="even pointer">
                        
                        <td class=" ">عقد سرویس ماهیانه</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="danger">در انتظار بازدید</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="danger ">ندارد</td>
                        <td class=" last">
                            <a href="request_view" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="#" class="btn btn-info btn-xs" data-toggle="modal"
                               data-target=".bs-example-modal-lg"><i class="fa fa-child"></i> ارجاع به تکنسین </a>
                            <a href="contract_add" class="btn btn-info btn-xs"><i class="fa fa-file-text-o"></i>  ثبت قرارداد</a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> لغو </a></a>
                        </td>
                    </tr>
                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">×</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">ارجاع به تکنسین</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>بخشی از نام تکنسین را وارد کنید</h4>
                                    <p><div class=" form-group has-feedback">
                                    <input class="form-control" id="inputSuccess3" placeholder="نام خانوادگی" type="text">
                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary">ارجاع</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <tr class="even pointer">

                        <td class=" ">عقد سرویس ماهیانه</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="warning">در انتظار پرداخت</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="danger ">ندارد</td>
                        <td class=" last">
                            <a href="contract_view" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> مشاهده قرارداد </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> لغو </a></a>
                        </td>
                    </tr>
                    <tr class="even pointer">

                        <td class=" ">عقد سرویس ماهیانه</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="disabled">لغو شده</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="danger ">ندارد</td>
                        <td class=" last">
                        </td>
                    </tr>
                    <tr class="even pointer">

                        <td class=" ">عقد سرویس ماهیانه</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="success">پرداخت شده</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="danger ">ندارد</td>
                        <td class=" last">
                            <a href="contract_view" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> مشاهده قرارداد </a>
                        </td>
                    </tr>
                    <tr class="odd pointer">
                        
                        <td class=" ">خرید آسانسور</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="warning"> در انتظار</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="success ">دارد</td>

                        <td class=" last">
                            <a href="request_view" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> مشاهده </a>

                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  ثبت پیش فاکتور</a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> لغو </a></a>
                        </td>                        </td>
                    </tr>
                    <tr class="odd pointer">

                        <td class=" ">تعمیر</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="warning"> در انتظار</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="success ">دارد</td>

                        <td class=" last">
                            <a href="request_view" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  ثبت فرم تعمیر</a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> لغو </a></a>
                        </td>                        </td>
                    </tr>
                    <tr class="odd pointer">

                        <td class=" ">استاندارد</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="warning"> در انتظار</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="success ">دارد</td>

                        <td class=" last">
                            <a href="request_view" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  ثبت پیش فاکتور</a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> لغو </a></a>
                        </td>                        </td>
                    </tr>
                    <tr class="odd pointer">

                        <td class=" ">مشاوره و نظارت</td>
                        <td class=" ">1397/02/31</td>
                        <td class=" ">مجید صدرایی</td>
                        <td class=" ">09159090644</td>
                        <td class="warning"> در انتظار</td>
                        <td class="">صیاد شیرازی 2 سرو 10 پلاک 51</td>
                        <td class="success ">دارد</td>

                        <td class=" last">
                            <a href="request_view" class="btn btn-info btn-xs"><i class="fa fa-eye"></i> مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  ثبت پیش فاکتور</a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> لغو </a></a>
                        </td>                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>