<% include ../partials/start.html%>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <% if (typeof message!== 'undefined'){ %>
        <div class="alert <%=message.kind%> fade in">
            <strong>  <%=message.content%></strong>
        </div>
        <%}%>

        <div class="x_content">


            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">

                        <th class="">نوع درخواست</th>
                        <th class=" ">تاریخ درخواست</th>
                        <th class=" ">نام درخواست دهنده</th>
                        <th class=" ">شماره همراه</th>
                        <th class=" ">وضعیت</th>
                        <th class=" ">آدرس</th>
                        <th class=" ">اشتراک</th>
                        <th class="last">عملیات           </th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if(typeof sherkatlist!=='undefined'){%>
                    <% for (i=0;i< sherkatlist.length;i++){%>
                    <tr>
                        <td><%=sherkatlist[i].kind%></td>
                        <td class="jalali"><%=sherkatlist[i].created%></td>
                        <td><%=sherkatlist[i].requester%></td>
                        <td><%=sherkatlist[i].phone%></td>
                        <% if(typeof sherkatlist[i].vaziat!=='undefined'){%>
                        <td><%=sherkatlist[i].vaziat%></td>
                        <%}else{%>
                        <td class="danger">در انتظار بازدید</td>
                        <%}%>
                        <td><%=sherkatlist[i].address%></td>
                        <% if( sherkatlist[i].eshterakstatus=='1'){%>
                        <td class="success">دارد</td>
                        <%}else{%>
                        <td class="danger"> ندارد</td>
                        <%}%>
                        <td class="nowrap">
                            <a href="request_add?shid=<%=sherkatlist[i]._id%>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <% if(typeof sherkatlist[i].vaziat==='undefined'){%>
                            <% if( sherkatlist[i].kind==='عقد قرارداد سرویس ماهیانه'){%>
                            <a href="contract_add?id=<%=sherkatlist[i]._id%>" class="btn btn-info btn-xs"><i class="fa fa-file-text-o"></i>  ثبت قرارداد</a>
                            <%}else{ %>
                            <% if( sherkatlist[i].kind==='درخواست تعمیر'){%>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i> ثبت فرم تعمیر</a>

                            <%}else{ %>
                            <form method="post" action="/factor_add">
                                <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  ثبت پیش فاکتور</button>
                            </form>
                            <%}%>
                            <%}%>
                            <a href="#" class="btn btn-danger btn-xs" data-toggle="modal"
                               data-target=".cancel-<%=sherkatlist[i]._id%>"><i class="fa fa-trash-o"></i> لغو </a></a>
                            <div class="modal fade cancel-<%=sherkatlist[i]._id%>" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span
                                                    aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">لغو درخواست شماره <%=sherkatlist[i]._id%></h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4>آیا از لغو این درخواست مطمئن هستید ؟</h4>
                                            <p><div class=" form-group has-feedback">
                                        </div></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                            <button type="button" class="btn btn-primary">لغو درخواست</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </td>
                    </tr>
                    <%}%>
                    <%}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</main>

</div>
<% include ../partials/footer.html%>

<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>

<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../js/moment-jalaali.js"></script>

<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="../vendors/jszip/dist/jszip.min.js"></script>
<script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="../js/custom.js"></script>
<script src="../js/persianumber.js"></script>
</div>
</div>
</body>
</html>

